.wishlist {
    margin: 100px auto;
}

.wishlist__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.wishlist__card {
    width: 85%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 15px white;
    border-radius: 10px;
}

.wishlist__card h3 {
    padding-top: 5px;
}

.wishlist__card img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 0 5px;
}

.card__buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card__buttons button {
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 10px;
    color: white;
}

.card__buttons button:first-child {
    background-color: #008dff;
}

.card__buttons button:last-child {
    background-color: #fe7300;
}

@media screen and (max-width: 1025px) {
    .wishlist__card h2 {
        font-size: 18px;
    }

    .wishlist__card h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 880px) {
    .wishlist__card {
        width: 300px;
        height: 300px;
        flex-direction: column;
        text-align: center;
    }

    .wishlist__card h3 {
        margin: 10px 0;
    }

    .wishlist__card .card__buttons {
        margin: auto;
    }

    .wishlist__card img {
        margin: auto;
    }
}